# Prepare data for modelling each region

The data will be spilt into:

1. `train`: 85% of the data to train and validate the model
2. `prod`: 15% of the data to simulate the production environment

## Data

Initially, we load all the regions to later create data files for each region.

In [8]:
import pandas as pd

df_regions = pd.read_csv('../data/general/pjm_pivot.csv', index_col=0, parse_dates=True)
df_regions.head()

,AE,AEP,AP,ATSI,BC,CE,DAY,DEOK,DOM,DPL,DUQ,EKPC,JC,ME,PE,PEP,PL,PN,PS,RECO
period,,,,,,,,,,,,,,,,,,,,
2018-07-01 05:00:00,1301,12187,4384,6960,3134,12136,1619,2895,9775,1919,1466,1209,2388,1442,4397,3165,3835,1611,5009,186
2018-07-01 06:00:00,1314,11946,4391,6762,3139,11872,1605,2857,9787,1950,1455,1197,2416,1465,4423,3156,3901,1641,4990,187
2018-07-01 07:00:00,1410,12664,4757,6670,3377,11992,1707,2997,10453,2160,1528,1273,2644,1605,4743,3332,4232,1728,5267,202
2018-07-01 08:00:00,1567,14069,5308,7065,3788,12860,1916,3331,11734,2470,1688,1472,3064,1784,5230,3679,4613,1899,5735,230
2018-07-01 09:00:00,1749,15610,5862,7833,4262,14212,2145,3703,13084,2765,1875,1656,3569,1972,5752,4085,5014,2055,6299,259

## Train Prod Split

In [9]:
from sklearn.model_selection import train_test_split
import os

for region in df_regions.columns:
    
    df = df_regions[region].to_frame()
    train, prod = train_test_split(df, test_size=0.15, shuffle=False)

    path_region = f'../data/regions/{region}'
    if not os.path.exists(path_region):
        os.makedirs(path_region)

    for df, name in zip([train, prod], ['train', 'prod']):
        df.to_csv(f'{path_region}/{name}.csv')